# PORT=5000
# GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/1FRD7bxcpWFs8Iy1OiTkwkJlAcMUK627ltokpn8dYKCE/exec
# GOOGLE_APPS_SCRIPT_SECRET=replace-with-a-random-secret

PORT=5000

GOOGLE_SHEET_ID=YOUR_GOOGLE_SHEET_ID

GOOGLE_SHEET_NAME=Sheet1